cascading style sheets (Folha de estilo em cascata,em português)
 -ESTRUTURA DO CSS

 --SELETOR - EXEMPLO = SELECIONAR UM ELEMENTO
 --PROPRIEDADE - EXEMPLO = COR DE FUNDO
 --VALOR - EXEMPLO = AMARELHO
 --DECLARAÇÃO DE UMA REGRA - EXEMPLO = 

 /*ESTILOS GERAIS */

 body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: nome;
   text-decoration: nome;
   outline: nome;

 }

  
 figcaption{
   display: none;   
 }
 img{
   max-width: 1200px;
 }
 /*ESTILOS GERAIS */
 body{
    ./*ESTILO DO CABEÇALHO*/
    .cabeçalho{
      background-color: #141414;
      padding: 16px 0;
      display: none;
    }



    /*ESTILO DO LOGO*/
    .cabeçalho . cabeçalho logo{
      text-align: center;
    }

    .cabeçalho . cabeçalho logo img{
            
    /*ESTILO DO MENU*/
    .cabeçalho . cabeçalho menu,.cabeçalho . CABEÇALHO_menuconfiguração{  display: none;}  

    .cabeçalho . cabeçalho menu ul{}
    .cabeçalho . cabeçalho menu li{}
    .cabeçalho . cabeçalho menu a{}
    
    ./*ESTILO ÁREA DE CONFIGURAÇÃO*/    
    .cabeçalho . CABEÇALHO_menuconfiguração ul{}
    .cabeçalho . CABEÇALHO_menuconfiguração li{}
    .cabeçalho . CABEÇALHO_menuconfiguração a{}

    /*ESTILO CONTEÚDO PRINCIPAL*/
    main{}

    /*ESTILO SEÇÃO DESTAQUE*/
    .seçãoDestaque{
      ackground-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/02.jpg);
      background-size: cover;
      padding: 30px 0 22px;
  }
    }
    .seçãoDestaque  . seçãoDestaque_ImagemDestaque img{
      {max-width: 100%
    }
    .seçãoDestaque  .SeçãoDestaque_DescriçãoDestaque {
      color: white;
    } 
    .seçãoDestaque  .SeçãoDestaque_DescriçãoNavegação img{}      
    .seçãoDestaque  .SeçãoDestaque_DescriçãoNavegação h1 img{
      width: 70%;
      max-width: 60%;
    }
    .seçãoDestaque  .SeçãoDestaque_DescriçãoNavegação p{
      font-size: 1rem;
      margin: 10px 0;
    }

    .seçãoDestaque  .SeçãoDestaque_NavegaçãoDestaque a{}
    .seçãoDestaque  .SeçãoDestaque_NavegaçãoDestaque {
      font-size: 0.9rem;
    background-color: wheat;
    color: black;
    padding: 7px 15px;
    border-radius: 3px;
    display: inline-block;
    }
    

     /*ESTILO SEÇÃO FILMES*/
     .seçãodefilmes{}
     .seçãodefilmes h2{}
     .seçãodefilmes .Lista De Filmes{}
     .seçãodefilmes .Lista De Filmes ul{}
     .seçãodefilmes .Lista De Filmes li{}
     .seçãodefilmes .Lista De Filmes li figure{}
     .seçãodefilmes .Lista De Filmes li img{}
     
      /*ESTILO RODAPÉ*/
      .Rodapé{}
      .Rodapé.midiasSociai{}
      .Rodapé.midiasSociai ul{}
      .Rodapé.midiasSociai ul li{}
      .Rodapé.midiasSociai ul li a{}

      .Rodapé.Rodapé_menuNavegação{}
      .Rodapé.Rodapé_menuNavegação ul{}
      .Rodapé.Rodapé_menuNavegação ul li{}
      .Rodapé.Rodapé_menuNavegação ul li a{}
      
      .Rodapé.RODAPÉ_LinkCódigo{}
      .Rodapé P{}
 }